body {
	font-family: "Raleway", sans-serif;
	max-width: 1024px;
	margin: 0 auto;
}

.nav-link {
	border-bottom: 2px solid transparent;
}

.nav-link:hover {
	border-bottom: 2px solid #f28482;
}

/* ---------- */
/* scale font based on container width */
#heading-container {
	container-type: inline-size;
}

#heading-container h1 {
	font-size: 6cqw;
	letter-spacing: 0.2em;
	text-wrap: nowrap;
}
/* ---------- */

#heading-container h1 span {
	color: #f28482;
}

div h6 {
	font-size: clamp(1.1rem, 2vw, 22px);
}

div p {
	font-size: clamp(1rem, 1.8vw, 20px);
}

footer {
	background-color: #fff3ee !important;
	color: #f28482;
}

footer p {
	font-size: 0.8rem !important;
}

/* rotates the lollipop icons on the webpage */
.custom-image-transform:hover {
	transform: rotate(360deg);
	transition-duration: 1s;
}